html{
	width:100%;
	margin:0;
}
.container{
	padding-top:150px;
}
.fixbackground{
	background-color: black;
	padding-bottom: 40px;

}
p{
	font-family: 'open sans',helvetica;
	text-align: center;
}

h3{
	font-family: 'open sans',helvetica;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 40px;
	color:black;
	margin:0;
	line-height: 45px;
	margin-bottom: 5px;
	text-align: center;

}

.namedrink{
	margin-bottom: 50px;
	margin-top: 10px;
	background-color: white;
	width:100%;
	padding:0;
	box-sizing: border-box;
}

#name{
	width:80%;
	margin:0 auto;
	height:20px;
	display: block;
	margin-top: 40px;
}

.tri{
	width:100%;
	margin-bottom: 0px;
	padding-bottom: 0;
}


.button{
	width:80%;
	margin:0 auto;
	display: block;
	margin:auto;
	text-align: center;
	background-color: #e72262;
	color: #fff;
	border:none;
	padding: 10px 25px 10px 25px;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-appearance: none;

}


.button:focus { 
	outline: none;
}

.ing{

	width:80%;
	margin:0 auto;
	height:20px;
	display: block;
}

.ingr{ /*div */
	background-color: black;
	margin-top:-4px;
	margin-right: 0;
	padding-top: 0;
	width:100%;
	padding-bottom: 80px;
	color:white;
	text-align: center;
}

.ingr > h3{
	color: white;
	padding-top: 30px;
	margin-bottom: 40px;
}

.ingr > .button{
	margin-top:20px;
}

.DrinkPic{
	width:100%;
	box-sizing: border-box;
	margin:0 auto;
}

.DrinkPic:hover{
	opacity: 0.3; 
}

.gridone{
 	position: relative;
 	width:49%;
 	display: inline-block;

 }
 .DrinkName{
 	float:left;
 	position:absolute;
 	left:center;
 	top:50%;
 	width:100%;
 	text-align: center;
	font-family: 'open sans',helvetica;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	color:black;


 }




