.log { 
	display:none;
 }

.check {
	color:#fff;
}

.check2 {
	color:#fff;
}


#test {
	width:30%;
	height: 40%;
	border-left:10px solid  #12e696;
	border-bottom: 10px solid  #12e696;
	margin:auto;
	position: absolute;
	left:17%;
	top:40%;
}

/* MAIN */

#content {
	overflow: hidden;
	width:100%;
	margin:auto;
	background-color: #000;
}
#firstc {
		width:100%;
		overflow: hidden;
		margin:auto;
		margin-bottom: 40px;
		position: relative;
		background-color: #000;
		text-align: center;
	}


#c {
	height:100px;
}

#pinkline{
	height: 2.5px;
	width: 280px;
	margin: 10px auto 15px auto;
	background-color: #e72262;
	padding: 0;

}
a{
	cursor: pointer;

}
body {
	font-family: 'open sans', helvetica;
	background: #000;
}

#intro {
	background-color: #fff;
	overflow: hidden;
	text-align: center;
	padding: 0px;
}
.introbtn:hover{
		opacity: 0.2;
		cursor: pointer;
	}

.LogIn{
	display: block;
	color: #000;
	font-size: 30px;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	line-height: 35px;
	margin-bottom: 0px;
	font-family: 'open sans',helvetica;
	font-weight: 800;
	width: 100%;
	text-decoration: underline;

}


.introbtn {

		margin: 60px auto 5px auto;
		text-align: center;
		font-family: 'open sans',helvetica;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 18px;
		background-color: #e72262;
		color: #fff;
		border:none;
		width: 160px;
		padding: 10px;
}

.tri {
	width:100%;
	max-width: 1100px;
	background-size: 100%;
	z-index: -1;
	margin: 0 auto -5px auto;
	display: block;
}

.tri2 {
	width:100%;
	max-width: 1100px;
	background-size: 100%;
	z-index: -1;
	display: block;
	margin: 0 auto -5px auto;

}



#about {
 width:80%;
 max-width: 500px;
 border: 2.5px solid #e72262;
 margin:0;
 margin:auto;
 margin-top: 20px;
 color:#fff;
 line-height: 1.7;
 padding: 30px;
 padding-top: 65px;
 padding-bottom:60px;
 box-sizing: border-box;

}

#gallery {
	width:100%;
	background-color: #fff;
	overflow: hidden;
	padding: 0 0 40px 0;


}

#gallerycol {
	width:70%;
	height: auto;
	overflow: hidden;
	margin:auto;
	column-count: 1;
	column-fill: auto;
	border-left: 10px solid #000;
	border-right: 10px solid #000;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 20px;
}

.galleryimg {
	width:100%;
}

.icons{
	width: 309px;
	margin: 0 auto;
	text-align: center;


}
.icon{
	width: 45px;
	height: 45px;
	margin: 18px;
	padding: 10px;
	float: left;
	background-color: #e72262;
	border: solid 1px #000;
	border-radius: 45px;
	text-align: center;
}
.icon:hover{
		opacity: 0.2;
		cursor: pointer;
	}

.iconIMG{
	width: 40px;
	padding-top: 3px;
	text-align: center;
}

/* TOP 10 */
	#slideshow {
		margin:auto;
		margin-top: 70px;
		width:90%;
		min-width: 250px;
		margin-bottom: 30px;
		color:#fff;
		position: relative;


	}

	.mySlides {
		margin:auto;
		width:100%;
		box-shadow: 0px 0px 0px #bdbdbd;
		box-sizing: border-box;
		border-radius: 0px;
		margin-top: -30px;
	}

	.slideimg {
		width:100%;
		margin:auto;
	}


	.slidebtn1 {
		position: absolute;
		z-index: 1000;
		top:40%;
		left:0;
		width:50px;
		height:50px;
		float:left;
		background-color: #000;
		color:#fff;
		border:none;
		font-size: 30px;
	}

	.slidebtn2 {
		position: absolute;
		z-index: 1000;
		top:40%;
		right:0;
		width:50px;
		height:50px;
		float:left;
		background-color: #000;
		color:#fff;
		font-size: 30px;
		border:none;
	}

	button {
		-webkit-appearance: none;
	}

	button.slidebtn1:focus { 
		outline: none;
	}

	button.slidebtn2:focus {
		outline: none;
	}

/* FONTS */



h3 {
	text-align:center;
	font-family: 'open sans', helvetica;
	font-size: 32px;
}

p {
	font-family: 'open sans', helvetica;
	font-size: 11px;
}

h1 {
	margin-bottom: 5px;
	font-family: 'open sans',helvetica;
	font-weight: 800;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 40px;
<<<<<<< HEAD
	
=======
	color:black;
	margin:20px auto;
	line-height: 45px;
>>>>>>> 190bd911120d69598114fe7065076467d85a1fc4
	text-align: center;
}

h2 {
	font-family: 'open sans',helvetica;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	margin:auto;
	line-height: 35px;
	padding-bottom: 10px;
	padding-top: 40px;
}

.introp {
	text-align: left;
	margin:auto;
	max-width: 500px;
	font-size: 11px;
	z-index: 1000;
	color: #000;
	padding: 20px;
}

@media (max-width: 1150px) {

#test {
	display: none;
}

}

/* MEDIA MIN 600PX */

@media (min-width: 600px) {

	.log {
	display: block;
	width: 150px;
	height:50px;
	font-size: 24px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    position: fixed;
    top:285px;
    left:-50px;
    z-index: 10;
    padding-top: 10px;
    background-color: #e72262;

}

.logText {
	font-size: 24px;
	color:#fff;
    font-family: 'open sans', helvetica;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

}

.logText:hover {
	color:#000;
}

	#c {
	height:230px;
}
	
	#firstc {
	
		margin-bottom: 0px;
	}

	#slideshow {
		float: left;
		margin-top: 20px;
		margin-left: 20px;
		width:11%;
		position: relative;
		min-width: 250px;
		margin-bottom: 30px;

	}

	

	#gallerycol {
		column-count: 3;
	}

	h3 {
		font-size: 24px;
	}


}
