	.log { 
		display:none;
	 }

	html{
		width:100%;
		margin:0;
		background-color: black;
	}

	/* MAIN */

	#content {
		overflow: hidden;
		width:100%;
		margin:0 auto;
		background-color: black;

	}

	#c {
		height:100px;
	}

	body {
		font-family: 'open sans', helvetica;
		background: #000;
	}

	#firstc{
		background-color: black;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		text-align: center;

	}

	form{
		max-width: 700px;
		margin: 30px auto 0 auto;
	}
	#intro {
		background-color: #fff;
		overflow: hidden;
		text-align: center;
		padding-bottom: 30px;
		margin: 0 auto;
		z-index: 5;
	}

	#gridsystem{
		max-width: 1100px;
		margin: 0 auto;
		
	}


	#intro1{
		text-align: center;
		color: #000;
		background-color: #fff;
		width: 100%;
		margin: 0 auto;
	}


	.introbtn {
		margin:auto;
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: center;
		background-color: #e72262;
		color: #fff;
		border:none;
		padding: 10px 25px 10px 25px;
		font-size: 14px;
	}

	.tri {
		width:100%;
		max-width: 1100px;
		background-size: 100%;
		z-index: -1;
		margin:0 auto;
		padding:0;
	}

	.tri2 {
		width:100%;
		background-size: 100%;
		max-width: 1100px;
		margin: 0 auto 0 auto;

	}


	.ing{

		width:80%;
		margin:0 auto;
		height:20px;
		display: block;
	}

	#name{
		width:80%;
		margin:0 auto;
		height:20px;
		display: block;
	}

	.button{
		margin: 10px auto 20px auto;
		text-align: center;
		font-family: 'open sans',helvetica;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 18px;
		background-color: #e72262;
		color: #fff;
		border:none;
		width:80%;
		padding: 5px;
		max-width: 350px;
		-webkit-appearance: none;

	}


	.button:focus { 
		outline: none;
	}


	.error{
		background: #e72262;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		border: solid #e72262 10px;
		margin-left: 10px;
		display: block;
		float: right;
		position:absolute;
		right:0;

	}
	.error:hover{
		background-color: #000;
		border: solid #000 10px;

	}

	.knapp{
		width: 100%;
	}


	.gridone{
	 	position: relative;
	 	width:350px;
	 	display: inline-block;
	 	margin: 5px;
	 	max-width: 400px;

	}


	.grid{
		list-style-type: none;
		margin: 0 auto;
		padding: 0px;
		height:280px;/*set an height */
	    line-height:280px;/* set the baseline at 100px from top*/
	    overflow:hidden;/* crops/cut off */
		text-align: center;
	}

	.grid li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
		position: relative;
	   
	}

	.grid li:hover .caption{
		opacity: 1;

	}

	.grid li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.grid img{
		margin: 0 auto;
		padding: 0px;
		float: left;
		z-index: 4;
		width: 100%;
		text-align: center;
	}


	.grid .caption{
		cursor: pointer;
		text-align: center;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.grid img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.grid .blur{
		background-color: rgba(0,0,0,0.65);
		height: 280px;
		width: 350px;
		z-index: 5;
		position: absolute;

	}

	h4 a{
		text-transform: uppercase;
		font-size: 20px;
		color: white;
		font-family: 'open sans',helvetica;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;

		float:left;
	 	position:absolute;
	 	left:0;
	 	top:0;
	 	width:100%;
	 	text-align: center;
	}
		


	.clicks{

		color: #fff;
	}


	/* FONTS */



	h3 {
		text-align:center;
		font-family: 'open sans', helvetica;
		font-size: 32px;
	}

	p {
		font-family: 'open sans', helvetica;
		font-size: 11px;
		color: #ffF;
	}

	h1 {
		
		padding-top: 40px;
		margin-bottom: 13px;
		font-family: 'open sans',helvetica;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 40px;
		color:white;
		margin:18px auto 0 auto;
		line-height: 45px;
		text-align: center;
		width: 100%;
	}

	h2 {
		color:#000;
		text-align: center;
		text-transform: uppercase;
		font-size: 35px;
		line-height: 35px;
		padding-bottom: 10px;
	}

	@media (max-width: 1150px) {

		#test {
			display: none;
		}

	}


/* MEDIA MIN 600PX */

@media (min-width: 600px) {

	.log {
		display: block;
		width: 150px;
		height:50px;
		font-size: 24px;
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	    position: fixed;
	    top:285px;
	    left:-50px;
	    z-index: 10;
	    padding-top: 10px;
	    background-color: #e72262;

	}

	.logText {
		font-size: 24px;
		color:#fff;
	    font-family: 'open sans', helvetica;
	    font-weight: 600;
	    text-decoration: none;
	    text-transform: uppercase;

	}

	.logText:hover {
		color:#000;
	}

	#c {
		height:200px;
	}
	
	#firstc {
		width:90%;
		overflow: hidden;
		margin:auto;
		margin-bottom: 0px;
		position: relative;
	}

	
	h3 {
		font-size: 24px;
	}

	
	.button{
		margin-bottom:0;
	}

	


}
